/* 小屏幕（平板，大于等于 768px） */
.main-out-content-padding{
    padding: 0px ; 
} 

.main-overview-content-hr{
    margin: 0px 10px !important;  
}

/* detail */
.main-detail-padding-margin {
    padding: 1px !important;
    margin: 10px !important;
}  

/* overview */
.main-overview-content-padding-margin { 
    padding: 5px 10px 5px 10px !important;
    margin: 0px !important;
}  

.setting-table-item-label-padding {
    padding: 3px 10px 3px 0px !important;
}

.setting-table-item-padding {
    padding: 3px 0px !important;
} 

/* 小屏手机 */
@media only screen and (max-width: 992px){
    .main-content-item-header{
        margin: 1px;
        padding: 10px 10px 10px 15px;
    }
}

     
/* 中等和大屏幕（桌面显示器，大于等于 992px） */
@media only screen and (min-width: 992px){ 

    .main-content-row-padding-margin {
        padding: 5px 10px 5px 10px !important; 
        margin: 1px !important;
    } 

    .setting-table-item-label-padding {
        padding: 10px 10px 10px 0px !important;
    }

    .setting-table-item-padding {
        padding: 10px 0px !important;
    }
}
     
/**
*单个
**/
.overview-head-padding{
    padding: 10px 15px !important ; 
}

/** 结尾block **/
.end-block-margin-bottom {
    margin-bottom: 5px!important;
}

.main-content-padding {
    padding: 10px 13px 1px 10px !important;
}

.bs-callout {
    padding: 20px;
    margin: 3px 3px;
    border: 1px solid #eee;
    border-left-width: 8px;
    border-radius: 3px;
}

.bs-callout-primary {
    border-left-color: #5c90d2;
} 

.bs-callout-warning {
    border-left-color: #f0ad4e;
} 

.bs-callout-success {
    border-left-color: #46c37b;
} 

.bs-callout-primary > h4 {
    color: #1b809e;
    margin-bottom: 5px;
}

.bs-callout-warning > h4 {
    color: #f0ad4e;
    margin-bottom: 5px;
}

.bs-callout-success > h4 {
    color: #46c37b;
    margin-bottom: 5px;
}
 
.nav-pills > li > a {
    border-radius: 0px;
    border-color: #e9e9e9;
    border-style: solid;
    border-width: 1px;
}

.nav-pills > li + li {
    margin-left: -1px !important;
}

.list-unstyled > li {
    padding: 0px 0px 10px;
}

.factory-settings-file-info-panel {
    padding-right: 1px;
    padding-left: 1px;
}

.block-options { 
    margin: -3px 0 -3px 5px; 
}